@model OrderDetailsPageVM

<h1>
    <span class="text-danger">@TempData["Message"]</span>
</h1>

<section class="panel">
    <header class="panel-heading">
        <h3> Siparis Detayları </h3>
    </header>
    <div class="panel-body">
        <div class="adv-table">
            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                <thead>
                    <tr>
                        <th>Siparis ID</th>
                        <th>Urun ID</th>
                        <th>Urun Adedi</th>
                        <th>Birimi</th>
                        <th>Birim Fiyatı</th>
                        <th>Toplam Siparis Fiyatı</th>
                        <th>Durum</th>
                        <th class="hidden-phone">Sil</th>
                        <th class="hidden-phone">Yok Et</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (OrderDetailsResponseModel item in Model.OrderDetails)
                    {
                        <tr class="gradeX">
                            <td>@item.OrderID</td>
                            <td> @item.ProductID</td>
                            <td> @item.Quantity</td>
                            <td> @item.Unit</td>
                            <td> @item.UnitPrice</td>
                            <td> @item.TotalPrice</td>
                            <td> @item.Status</td>
                            <td class="center hidden-phone"><a asp-action="DeleteOrderDetail" asp-route-orderId="@item.OrderID" asp-route-productId="@item.ProductID" class="btn btn-danger">Sil</a></td>
                            <td class="center hidden-phone"><a asp-action="DestroyOrderDetail" asp-route-orderId="@item.OrderID" asp-route-productId="@item.ProductID" class="btn btn-danger">Yok et</a></td>
                        </tr>
                    }
                    
                </tbody>
            </table>

        </div>
    </div>
</section>